* {
    font-family: 'Arial';
}

body {
    margin: 0;
}

a, a:visited {
    color: black;
}

/* navigation bar */

.navigation-bar a {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #500000;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    float: left;
    width: 20%;
}

.navigation-bar a:hover {
    background-color: #3c0000;
}

.navigation-bar a.current {
    background-color: #3c0000;
}

/* greeting section on index.html */

.temp {
    background-color: yellow;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.greeting-box {
    display: inline-block;
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 750px;
    border-bottom: 10px solid #500000;
}

.greeting-text {
    display: inline-block;
    width: 400px;
    margin: 10px;
    vertical-align: middle;
}

.greeting-image {
    display: inline-block;
    vertical-align: middle;

    width: 300px;
    height: 300px;
}

/* about me section on index.html */

.personal-info-box {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.personal-info-text {
    display: inline-block;
    width: 600px;
    margin: 10px;
    text-align: justify;
    vertical-align: top;
}

.personal-info-text > h3 {
    text-align: center;
}